#  .d8b.  db      .d8888.  .d88b.       db    db d8888b. d8888b.  .d8b.  d888888b d88888b                
# d8' `8b 88      88'  YP .8P  Y8.      88    88 88  `8D 88  `8D d8' `8b `~~88~~' 88'                    
# 88ooo88 88      `8bo.   88    88      88    88 88oodD' 88   88 88ooo88    88    88ooooo                
# 88~~~88 88        `Y8b. 88    88      88    88 88~~~   88   88 88~~~88    88    88~~~~~                
# 88   88 88booo. db   8D `8b  d8'      88b  d88 88      88  .8D 88   88    88    88.                    
# YP   YP Y88888P `8888Y'  `Y88P'       ~Y8888P' 88      Y8888D' YP   YP    YP    Y88888P                
#                                                                                                        
#                                                                                                        
#    d8888b.  .d88b.   .o88b. db   dD d88888b d8888b. d888888b  d888b  d8b   db  .d88b.  d8888b. d88888b 
#    88  `8D .8P  Y8. d8P  Y8 88 ,8P' 88'     88  `8D   `88'   88' Y8b 888o  88 .8P  Y8. 88  `8D 88'     
#    88   88 88    88 8P      88,8P   88ooooo 88oobY'    88    88      88V8o 88 88    88 88oobY' 88ooooo 
#    88   88 88    88 8b      88`8b   88~~~~~ 88`8b      88    88  ooo 88 V8o88 88    88 88`8b   88~~~~~ 
# db 88  .8D `8b  d8' Y8b  d8 88 `88. 88.     88 `88.   .88.   88. ~8~ 88  V888 `8b  d8' 88 `88. 88.     
# VP Y8888D'  `Y88P'   `Y88P' YP   YD Y88888P 88   YD Y888888P  Y888P  VP   V8P  `Y88P'  88   YD Y88888P 
                                                                                                       

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
.env
