.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form_group {
  display: flex;
}

.input_container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-grow: 1;
}

.text_input, .text_area {
  color: var(--text-main);
  padding: 10px 15px;
  background-color: var(--bg-main);
  border: solid 2px var(--bg-alt);
  border-bottom: solid 2px var(--bg-alt2);
  margin: 10px;
  font-size: 18px;
}

.text_input::placeholder, .text_area::placeholder {
  color: var(--bg-alt2);
}

.text_area {
  resize: none;
}

.input_error {
  padding: 0 10px;
  color: var(--red);
}


.submit {
  transition: 0.5s background-color;
  cursor: pointer;
  padding: 15px;
  margin: 10px;
  background-color: var(--green);
  border: none;
  color: var(--bg-main);
}

.submit:disabled {
  transition: 0.5s background-color;
  cursor: default;
  background-color: var(--red);
}

.sent {
  background-color: var(--green) !important;
}

.error_container {
  padding: 0px 20px;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--red);
  bottom: 1em;
  right: 1em;
}

@media only screen and (max-width: 950px) {
  .form_group {
    flex-direction: column;
  }
  
  .form {
    width: 90%;
  }
}
