.container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-alt);
  border-bottom: 1px solid var(--coffee);
}

.item {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  color: var(--coffee);
  border-bottom: 1px solid var(--coffee);
  margin: 5px;
}

.selected_item {
  font-weight: bold;
  border-bottom: 4px solid var(--coffee);
}

.mobile_menu_icon {
  cursor: pointer;
  color: var(--coffee);
}

.mobile_menu_button {
  border: none;
  background-color: transparent;
}

.mobile_menu_container {
  background-color: var(--bg-alt);
  width: 100%;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}
