.container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-alt);
  border-bottom: 1px solid var(--coffee);
}

.item {
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid var(--coffee);
  cursor: pointer;
}
