.info_container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name {
  text-transform: uppercase;
  text-align: center;
  margin: 2px;
}

.description_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 23px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.more {
  margin-top: 30px;
}

.social_container {
  display: flex;
  justify-content: center;
}

.social_item {
  font-size: 30px;
  margin: 10px;
}

.text_center {
  text-align: center;
}
