.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  background-color: var(--bg-alt);
}

.name {
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--text-main);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.description {
  height: 50px;
}

.thumbnail {
  width: 100%;
  margin-bottom: auto;
}

.links {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.technology {
  margin: 0 5px 0 5px;
}
